<!--Bombs-->
  <div class="outerBombs">
    <div class="middle">
      <div class="container" >
        <h2>Dumbest Game Ever</h2>

        <!--Start and info button-->
        <div>
          <div class="d-flex justify-content-center" style="display: inline-block">
            <button type="button" class="btn btn-primary"
                    style="background-color:#158d23"
                    (click)="pendingStart()"
                    [disabled]="DisableBtn"
            >Start Game</button>
            <button class="infobutton" style="margin-left: 1%" (click)="InfoBool = true">&#9432;</button>
          </div>
        </div>
        <div class="row specs">
          <div class="col set-border bomb-design">
            <div>
              <div class="timer">{{timer[0]}}</div>
            </div>
            <div class="d-flex justify-content-center" style="height: 50%">
              <button type="button" class="stop-button btn btn-primary" (click)="stop(0)" [disabled]="DisableButton[0]">Stop</button>
            </div>
          </div>
          <div class="col set-border bomb-design">
            <div class="timer" >{{timer[1]}}</div>
            <div class="d-flex justify-content-center" style="height: 50%">
              <button type="button" class="stop-button btn btn-primary" (click)="stop(1)" [disabled]="DisableButton[1]">Stop</button>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col set-border bomb-design">
            <div class="timer" >{{timer[2]}}</div>
            <div class="d-flex justify-content-center" style="height: 50%">
              <button type="button" class="stop-button btn btn-primary" (click)="stop(2)" [disabled]="DisableButton[2]">Stop</button>
            </div>
          </div>
          <div class="col set-border bomb-design">
            <div class="timer" >{{timer[3]}}</div>
            <div class="d-flex justify-content-center" style="height: 50%">
              <button type="button" class="stop-button btn btn-primary" (click)="stop(3)" [disabled]="DisableButton[3]">Stop</button>
            </div>
          </div>
        </div>
        <div class="high-score">High Score: {{HighScore}} </div>
    </div>
  </div>


  <!--Game over box-->
  <div class="outer game-state" *ngIf="GameOver == true && GameWon != 4" style="background-color: rgba(255,255,255,0.7);">
    <div class="middle">
      <div class="inner set-border" style="text-align: center; background-color: #E74C3C;">
        <h1>Game Over</h1>
        <p>Bombs Have Exploded</p>
        <div>
          <div class="game-over-timers">{{timer[0]}}</div>
          <div class="game-over-timers">{{timer[1]}}</div>
          <div class="game-over-timers">{{timer[2]}}</div>
          <div class="game-over-timers">{{timer[3]}}</div>
        </div>
        <button type="button" class="btn btn-primary"
                style="margin-top: 20%"
                (click)="initializeGame()">Play Again</button>
      </div>
    </div>
  </div>

  <!--Game won box-->
  <div class="outer game-state" *ngIf="ShowGameWin == true" style="background-color: rgba(255,255,255,0.7);">
    <div class="middle">
      <div class="inner set-border" style="text-align: center; background-color: #158d23; height: 180px; ">
        <h1>You win</h1>
        <div>Time: <b> {{TimeScore}} seconds</b> </div>
        <div style="margin-top: 3%; margin-bottom: 3%">
          <div class="game-over-timers">{{timer[0]}}</div>
          <div class="game-over-timers">{{timer[1]}}</div>
          <div class="game-over-timers">{{timer[2]}}</div>
          <div class="game-over-timers">{{timer[3]}}</div>
        </div>
        <div *ngIf="TimeScore > HighScore" style="margin-top: 2%">You did not beat your high score</div>
        <div *ngIf="TimeScore < HighScore" style="margin-top: 2%">New high score!!"</div>
        <button type="button" class="btn btn-primary"
                style="margin-top: 15%"
                (click)="initializeGame()">Play Again</button>
      </div>
    </div>
  </div>

  <!--Countdown to game start-->
  <div class="outer game-state" *ngIf="PressStart == true" style="background-color: rgba(255,255,255,0.7);">
    <div class="middle">
      <div class="start-count inner set-border" style="text-align: center; background-color: #5DADE2; ">
        <div style="font-size: 80px; color: whitesmoke; margin-top: 5% ">{{CountDown}}</div>
      </div>
    </div>
  </div>

  <!--Info Box-->
  <div class=" outer game-state" *ngIf="InfoBool == true" style="background-color: rgba(255,255,255,0.7);">
    <div class="middle">
      <div class="inner set-border" style="text-align: center; background-color: #AED6F1 ">
        <h1>Info</h1>
        <p>Stop the time bombs as close as possible to zero </p>
        <button type="button" class=" btn btn-primary"
                style="margin-top: 10%"
                (click)="InfoBool = false">Ok</button>
      </div>
    </div>
  </div>
</div>












